*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: sans-serif;
    line-height: calc(1em + 0.5rem);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    padding: 2em;
    text-align: center;
    max-width: 660px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

img {
    display: block;
    margin-bottom: 1em;
}

h1 {
    color: rgb(255, 222, 17);
    font-size: 1.5em;
    overflow-wrap: break-word;

}

p {
    overflow-wrap: break-word;
}

.sign-off {
    margin-top: 0.5em;
    color: rgb(90, 183, 232);
}

footer {
    padding: 2em;
    color: rgb(120, 120, 120);
    font-size: 0.85em;
}